<section>
  <h1>TOP MEDIA</h1>
  <p>1,000 Votes</p>
</section>
<section class="top_ten">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Top Books
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Top Books
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Top Movies
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
