/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
    
    /* Custom bootstrap variables must be set or imported *before* bootstrap. */
    @import "bootstrap";
    /* Import scss content */
    @import "**/*";

    .data_table {
      display: grid;
      grid-auto-flow: column;
    }

 
    #4_col_data_table {
      grid-template-columns: auto auto auto auto;
    }
    #5_col_data_table {
      grid-template-columns: auto auto auto auto auto;
    }
    #6_col_data_table {
      grid-template-columns: 1fr 1fr 2fr 2fr 1fr 3fr;
    }
    #7_col_data_table {
      grid-template-columns: auto auto auto auto auto auto auto;
    }
    .data_header_1, .data_point_1{
    grid-column: 1;
    }
    .data_header_2, .data_point_2{
    grid-column: 2;
    }
    .data_header_3, .data_point_3{
    grid-column: 3;
    }
    .data_header_4, .data_point_4{
    grid-column: 4;
    }
    .data_header_5, .data_point_5{
    grid-column: 5;
    }
    .data_header_6, .data_point_6{
      grid-column: 6;
    }
    .data_header_7, .data_point_7{
      grid-column: 7;
    }
