/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

    /* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
    /* Import scss content */
@import "**/*";

*{
    font-family: 'Rubik', sans-serif;
}
.header_image {
    background-color: #293462;
}
header {
    padding: 3%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
}
    header > h1 {
        text-align: right;
        color: #ec9b3b;
        grid-column: 1;
        padding-right: 20px;


    }
    h2 {
        padding-left: 20px;
        border-left: 3px solid #00818a;
        text-align: left;
        color: #f7be16;
        grid-column: 2;
        
    }
    a {
        font-size: 1.15em;
        color: #00818a;
        text-decoration: none;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    a:hover {
       color: #ec9b3b; 
       text-decoration: none;
       text-emphasis: strong;
    }
    .btn-primary {
        border: 1px solid #00818a;
        background-color: #00818a;
    }

    .btn-primary:hover {
        background-color:#ec9b3b;
        border: 1px solid #ec9b3b;
    }

    .spotlight{
        color: #f7be16;
        font-size: 1.15em;
        text-emphasis: strong;
        background-color:#00818a;
        border: 1px solid #00818a;
    }
h1 {
    text-align: left;
    color: #ec9b3b;
    grid-column: 1;
    padding-left: 20px;
    padding-top: 20px;
}

h5{
    background-color: #ec9b3b;
    border-radius: 45px;
    color: white;
    padding-left: 20px;
    padding-right: 20px; 
}

.loginout {
    text-align: right;
}





